.component-details {
    margin-bottom: 10vh;
    overflow-y:auto;
    overflow-x:hidden;
}

.component-details p {
    text-overflow: ellipsis;
}

.fa-wheelchair {
    font-size:3rem;
    width:100%;
    z-index: 1071;
}

#visualWarning,#physicalWarning {
    z-index: 1071;
}